---
layout: page
title: english
header: header-english.png
weight: 30
---

<div class="posts">
    <article class="emphasized">
        <h1 style="color: #cb187c;">Welcome on laze.hu english version!</h1>
        This part of my site is english speaking visitors. Here can you read about me, my experience.<br/>
        <br/>
        Here is the list of my posts:
    </article>
    {% for post in site.categories["english"] %}
    {% if post.emphasized == true %}
    <article class="emphasized">
        {% if post.thumbnail %}
        <img src="/img/{{ post.thumbnail}}"/>
        {% else %}
        <img src="/img/thumbnail-empty.png"/>
        {% endif %}
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        {{ post.excerpt }}
        <span class="meta" style="margin-left: 0;">
            <span><i class="icon-calendar-empty"></i> {{ post.date | date_to_string }}</span>
            <span><i class="icon-tags"></i> {{ post.tags | array_to_sentence_string }}</span>
        </span>
    </article>
    {% else %}
    <article>
        <h1><a href="{{ post.url }}">{{ post.title }}</a>
        <span class="meta">
            <span><i class="icon-calendar-empty"></i> {{ post.date | date_to_string }}</span>
            <span><i class="icon-tags"></i> {{ post.tags | array_to_sentence_string }}</span>
        </span>
        </h1>
    </article>
    {% endif %}
    {% endfor %}
</div>