---
layout: english
title: english
header: header-english.png
background: background-alejandroescamilla_somethingpretty.jpg

---

<div class="about">
    <h1>this is laze.hu in english.</h1>
    <p class="em">This part of my site is dedicated for english speaking visitors. Here can you read about me, and can check my portfolio. If you like, what I do, please don't hesitate to contact with me!</p>
</div>

<div class="posts">
    {% for post in site.categories["english"] %}
    {% if post.emphasized == true %}
    <article class="emphasized">
        <h1>
            {% if post.thumbnail %}
            <img src="/img/{{ post.thumbnail }}"/>
            {% endif %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p>{{ post.excerpt }}</p>
        <span class="meta">
            <span><i class="icon-calendar-empty"></i> {{ post.date | date_to_string }}</span>
            <span><i class="icon-tags"></i> {{ post.tags | array_to_sentence_string }}</span>
        </span>
    </article>
    {% else %}
    <article>
        <h1><a href="{{ post.url }}">{{ post.title }}</a>
        <span class="meta">
            <span><i class="icon-calendar-empty"></i> {{ post.date | date_to_string }}</span>
            <span><i class="icon-tags"></i> {{ post.tags | array_to_sentence_string }}</span>
        </span>
        </h1>
    </article>
    {% endif %}
    {% endfor %}
</div>