<footer>
    <div>
        matic&middot;laze.hu
        <center>&mdash;</center>
        LAZE vagyok. Ez az oldalam. Itt találod az önéletrajzom, a referenciáim. Posztjaim személyes véleményemet tükrözik, kommentelés helyett üzenj, vagy keress meg!
        <center>&mdash;</center>
        <a href="http://"><i class="icon-rss"></i> RSS</a>
    </div>
    <div>
        <a href="http://"><i class="icon-linkedin-sign"></i> LinkedIn</a><br/>
        <a href="http://facebook.com/laze.hu"><i class="icon-facebook-sign"></i> Facebook</a><br/>
        <a href=""><i class="icon-twitter-sign"></i> Twitter</a><br/>
    </div>
    <div>
        Creative Commons
    </div>
</footer>