---
layout: content
background: background-alejandroescamilla_somethingpretty.jpg
---

<article style="padding-top:10px;">


    {{ content }}

    <div class="meta">
        <div><i class="icon-map-marker" style="display: inline-block; width: 40px;"></i> {{ page.location}}</div>
        <div><i class="icon-calendar-empty" style="display: inline-block; width: 40px;"></i> {{ page.date | date_to_string }}</div>
        <div><i class="icon-tags" style="display: inline-block; width: 40px;"></i> {{ page.tags | array_to_sentence_string }}</div>
        <div><i class="icon-stop" style="display: inline-block; width: 40px;"></i> {{ page.author }}</div>
    </div>
</article>